/* 스타일 파일 (VirtualTryOn.css) */

/* Virtual Try On 박스 스타일 */
.virtual-try-on-box {
    width: 500px; 
    height: 550px;
    border: 2px dashed #ccc;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
  }
  
  /* 드래그된 이미지를 위한 미리보기 이미지 스타일 */
  .virtual-try-on-image {
    max-width: 100%;    /* 이미지가 박스를 넘지 않도록 최대 너비 설정 */
    max-height: 100%;   /* 이미지가 박스를 넘지 않도록 최대 높이 설정 */
    object-fit: contain; /* 이미지를 비율을 유지하며 박스에 맞게 크기 조정 */
    object-position: center; /* 이미지가 박스 내에서 중앙에 위치하도록 설정 */
  }
  
  /* 이미지 미등록 시 안내 문구 스타일 */
  .virtual-try-on-box p {
    color: #666;
    font-size: 14px;
    font-weight: 500;
  }
  
  /* 드래그 중일 때 박스 배경색 변경 */
  .virtual-try-on-box:hover {
    background-color: #e1e1e1;
  }
  .border-box3 {
    width: 100%;
    height: 80%;
    padding: 10px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #343A3F;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.border-box3 div {
    display: inline-block;
    font-size: 60px;
    margin-bottom: 10px;
    color: #343A3F;
}
  