.first-section {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
  }
  
  .main-logo {
    width: 200px; /* 원하는 크기로 조정 */
    height: auto;
  }
  
  .icons {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .lock-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  